{% extends 'include/guest.html' %}
{% block body %}
    <h1>{{title}}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="col-lg-6 mx-auto">
                <div class="card shadow mb-2">
                    <div class="card-header bg-transparent p-3">
                        <h3 class="m-0">HOME PAGE</h3>
                    </div>

                </div>

                <div class="card shadow mb-2">
                    {% for method in methods %}
                        <h7 class="m-0">{{method.title}}</h7>
                    {% endfor %}
                </div>


            </div>
        </div>
    </form>
{% endblock %}